{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align">About Us</h3>
<!-- category selection -->
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card-panel #ffffff white">
                <h5 class="black-text">The Dublin fitness scene has been completely revolutionised over the past few
                    years with a record number of people in the capital taking up dedicated health and wellness regimes.
                    With new spaces opening all the time, from chic changing facilities to world-class trainers,
                    interesting
                    class variations
                    and delicious post-workout fuel, it has never been so easy to get fit in the capital. Plus, becoming
                    healthier
                    is no longer about punishing ourselves for our supposed indulgences. For the best results,
                    your workout regime should make you feel better too.
                    Our goal at Feat Hub is to connect you with the best personal trainer, nutritionist, and to give our
                    member
                    daily tips on healthy diet, workout plan, and lifestyle that are dedicated to building your
                    resilience, in
                    accordance with modern sports science theory.</h5>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>

{% endblock %}