{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align">Add Recipe</h3>
<!-- category selection -->
<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                <label for="category_name"></label>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- diet name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="diet_name" name="diet_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="diet_name">Diet Name</label>
            </div>
        </div>
        <!-- diet description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="diet_description" name="diet_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="diet_description">Diet Description</label>
            </div>
        </div>
        <!-- diet prep time -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="diet_prep_time" name="diet_prep_time" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="diet_prep_time">Prep Time</label>
            </div>
        </div>
        <!-- diet cook time -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="diet_cook_time" name="diet_cook_time" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="diet_cook_time">Cook Time</label>
        </div>
        <!-- ingredients  -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="diet_ingredients" name="diet_ingredients" minlength="5" maxlength="400"
                    class="materialize-textarea validate" required></textarea>
                <label for="diet_ingredients">Ingredients</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}