{% extends "base.html" %}
{% block content %}
<h3 class="black-text text-darken-4 center-align">Exercise</h3>
<!-- Accordion -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text #000000 black text-shadow">SET A GOAL</div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Lose Weight</div>
        <div class="collapsible-body"><span></span>Super effective intense workout for weight loss. You can burn
            calories all day long!</div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Abs</div>
        <div class="collapsible-body"><span>x 20 Sit-Ups</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Chest</div>
        <div class="collapsible-body"><span>00:30 Jumping Jacks</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Leg</div>
        <div class="collapsible-body"><span>x 14 Burpees</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Stretch</div>
        <div class="collapsible-body"><span>x 14 Squats</span></div>
    </li>
</ul>

{% endblock %}